# rasterio==1.2.8
tensorflow==2.18.0
# geopython==0.25.0
#numpy==2.0.1
#scikit-learn==1.5.1
#matplotlib==3.9.2
#fiona==1.8.20
#sentinelsat==1.1.1
# #pygments==2.10.0
# #notebook==6.4.4
# ipywidgets==7.6.5 
#pandas==2.2.2
#python_dotenv==0.19.1
#s2cloudless==1.5.0
#geopandas==0.10.2
#azure.storage.blob==12.9.0
#pycurl==7.44.1
#fsspec==2022.1.0
#smbprotocol==1.9.0
#gssapi==1.7.2
#krb5==0.2.0
##tenacity==8.0.1
#netCDF4==1.5.8
#h5py==3.1.0
#keras==2.8.0
#tensorflow==2.6.2
#pyod==2.0.1
#beautifulsoup4==4.11.1
#lxml==4.8.0
#xarray==2022.3.0
#pydot==1.4.2
#graphviz==0.20
#keras_tqdm==2.0.1
#sqlalchemy==1.4.36
#psycopg2==2.9.3
#openpyxl==3.1.5
#rioxarray==0.12.4
#holidays==0.55
#python-pptx==1.0.2
#datasets==3.0.0
#evaluate==0.4.3
#accelerate==0.34.2
llama-cpp-python==0.3.1
huggingface-hub==0.24.5
keras==3.6.0
plotly==5.24.1
langchain==0.3.7
langchain_community==0.3.7
pypdf==5.1.0
gguf==0.10.0
sentence_transformers==3.3.1
sentencepiece==0.2.0
